<IfModule mod_rewrite.c>
    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Rewrite all incoming traffic into backend/public/ folder
    RewriteCond %{REQUEST_URI} !^/backend/public/
    RewriteRule ^(.*)$ backend/public/$1 [L]
</IfModule>
